:root {
  --content-static-font-family: Poppins;
  --content-static-weight-bold: Bold;
  --content-static-weight-medium: Medium;
  --content-static-weight-regular: Regular;
  --content-static-weight-semi-bold: SemiBold;
}
